.navbar_ .nav-collapse_ , .navbar_ collapse {
    overflow: visible;
  }
  body {
  	min-width: 980px;
  }

/*******/

.list-banners li a:hover img {
    opacity: 1;
}
.list-banners li a img {
    opacity: 1;
    width: 100%;
}

.sidebar-image-list li { display: inline-block; float: left; margin-bottom: 15px; margin-right: 15px; width: 85px; }

#social a { margin: 0 3px 9px 0; }
